version: "3.3"

services:
  frontend:
    image: ${FRONTEND_IMAGE_NAME}
    ports:
      - 80:8080
    restart: always

  backend:
    image: ${BACKEND_IMAGE_NAME}
    ports:
      - 3000:3000
    restart: always
    volumes:
      - ./.env.backend:/app/.env:ro

  ttFrontend:
    image: ${TT_FRONTEND_IMAGE_NAME}
    ports:
      - 81:9000
    restart: always

  ttAdminFrontend:
    image: ${TT_ADMIN_FRONTEND_IMAGE_NAME}
    ports:
      - 82:9001
    restart: always

  ttBackend:
    image: ${TT_BACKEND_IMAGE_NAME}
    ports:
      - 83:7183
    restart: always
    depends_on:
      - db
    environment:
      DATABASE_HOST: db
      DATABASE_PORT: 1433

  db:
    image: mcr.microsoft.com/dotnet/sdk:8.0
    environment:
      SA_PASSWORD: "${DB_PASSWORD}"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql
    restart: always

volumes:
  sql_data:
