name: CI/CD Pipeline

on:
    push:
        tags:
            - "*"

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Set up .NET
              uses: actions/setup-dotnet@v1
              with:
                  dotnet-version: "8.0"

            - name: Build and publish .NET application
              run: |
                  dotnet restore "table-tennis-backend.csproj"
                  dotnet build "table-tennis-backend.csproj" --no-restore
                  dotnet publish "table-tennis-backend.csproj" -c Release -o ./publish

            - name: Upload build artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: net-publish
                  path: ./publish

    docker-image:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Download build artifacts
              uses: actions/download-artifact@v4
              with:
                  name: net-publish
                  path: ./publish

            - name: Set up Docker
              uses: docker/setup-buildx-action@v1

            - name: Log in to GitHub Container Registry
              uses: docker/login-action@v1
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and push Docker images
              uses: docker/build-push-action@v2
              with:
                  context: .
                  file: ./Dockerfile
                  push: true
                  tags: |
                      ghcr.io/li-ninja/table-tennis-backend:${{ github.sha }}
                      ghcr.io/li-ninja/table-tennis-backend:${{ github.ref_name }}
                      ghcr.io/li-ninja/table-tennis-backend:latest
